/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Tahoma, "serif";
}

/* header styles */
.header {
  background: #efefef;
}
.header .inner-container {
  padding: 10px;
  height: 80px;
  align-items: center;
  display: flex;
  padding: 0 50px;
}
@media (max-width: 780px) {
  .header .inner-container {
    padding: 0 0;
  }
  .header .hide-on-small-screen {
    display: none;
  }
}
.header-left-section {
  flex-grow: 1;
}

/* footer styles */

.footer {
  height: 300px;
  background: black;
}

/* carousel slider static styles */

.slider-container {
  width: 100%;
  position: relative;
}
.slider-container:hover .MuiFab-root {
  transform: scale(1) !important;
}
.slides-container {
  overflow: hidden;
}
.slides {
  white-space: nowrap;
}

/* head slider */
.head-slider {
  height: 400px;
  background: #ffc3ab;
}
